auto-changelog==0.1.7
bumpversion==0.5.3
coverage==4.5.1
docutils==0.14
flake8==3.5.0
ipython==6.5.0
pep8==1.7.1
pip==18.0
powerline-status==2.6
pudb==2018.1
pycodestyle==2.4.0
pytest==3.7.0
pytest-cov==2.5.1
pytest-flakes==4.0.0
pytest-forked==0.2
pytest-mocha==0.2.1
pytest-mock==1.10.0
pytest-pep8==1.0.6
pytest-runner==4.2
pytest-xdist==1.22.5
recommonmark==0.4.0
Sphinx==1.7.6
sphinx-rtd-theme==0.4.1
tox==3.1.2
twine==1.11.0
wheel==0.31.1
watchdog==0.8.3